# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env

# Data & logs
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
logs/*
!logs/.gitkeep

# OS / IDE
.DS_Store
.vscode/
.idea/